.pagina{
background-color: #fad9e1;
color: #ffffff;
font-family: 'segoe UI', sans-serif;
margin: 20px;
padding: 0 40px;
}

.titulo{
    color: #ff69b4;
    text-align: center;
    font-size: 300%;
}

.biografia{
    font-size: 140%;
    text-align: justify;
    font-family: "Comic Relief", system-ui;
    font-weight: 700;
    font-style: normal;
}

.mensagem{
    display: none;
    margin-top: 10px;
    font-weight: bold;
    color: #ff69b4;
}

.botao{
    background: linear-gradient(135deg, #ff9a9e, #fad0c4);
    color: #ffffff;
    padding: 12px 24px;
    border: none;
    border-radius: 30px;
    font-size: 17px;
    cursor: pointer;
    box-shadow: 0 4px 5px rgba(255, 192, 203, 0.5);
    transition: 0.2s ease;
    display: block;
    margin-top: 15px;
}

.botao:hover{
    background: linear-gradient(135deg, #fcb3b3, #ffd6e0);
    transform: scale(1.05);
}

.titulo__h2{
    font-size: 35px;
    color: #ff69b4;
    margin-bottom: 3px;
}

.lista__hobbies{
    line-height: 2;
    font-size: 20px;
    margin-top: 0px;
    font-family: "Comic Relief", system-ui;
    font-weight: 700;
    font-style: normal;
}

.imagem__hobbie{
   width: 300px;
   border-radius: 20px;
   display: block;
   margin: 0 auto;
}

.titulo__h3{
    font-size: 35px;
    color: #ff69b4;
    margin-bottom: 3px;
}

.tabela__paises{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    background-color: #ffdde1;
    color: #a3335d;
    box-shadow: 0 0 10px #ffc0cb;
    overflow: hidden;
}

.tabela__paises td{
    padding: 10px;
    text-align: center;
    font-family: "Comic Relief", system-ui;
    font-weight: 700;
    font-style: normal;
    border: 1px solid #fbb1c8;
    transition: 0.3s ease;
}

.tabela__paises img{
    border-radius: 10px;
}

.tabela__paises tr:hover{
    background-color: #ffe3ec;
}

.site__interesse{
    color: #ffb6c1;
}

.link__site{
    text-decoration: none;
    color: #a3335d;
}

.link__site:hover{
    color: #ff69b4;
}

.redes__sociais{
    margin-top: 40PX;
    text-align: center;
}

.titulo__h4{
    color: #ff69b4;
    margin-bottom: 10px;
    font-size: 20px;
}

.rede{
    display: inline-block;
    margin: 8px 12px;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #fbb1c8;
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s ease;
}

.rede:hover{
    background-color: #ffa6bf;
}
